<tr class=" <%= cycle('even', 'odd')%>" id="node_<%= node.git_object_id %>" >
	<td> <% if node.dir? -%>
		<%= link_to node.name, {:path => node.path_components, :rev => view_revision}, {:class => 'folder node-link'} %>
		<% else -%>
		<%= link_to node.name, {:path => node.path_components, :rev => view_revision}, { :class => 'file node-link'} %>
		<% end -%>
	</td>
  <td colspan="4" style="text-align:center">
    <%= image_tag("spinner.gif") %>
  </td>
</tr>
