<th>Path</th>
<th>Age</th>
<th>Most Recent Committer</th>
<th>Most Recent Changeset</th>
<th>Description</th>


<% javascript_with_rescue do %>
  new Ajax.Request(
    '<%= raw(url_for(:controller => 'git_source', :action => 'load_latest_info', :commit_id => @node.commit_id, :path => @node.path )) %>',
    {
      method: 'post'
    }
  );

<% end -%>